body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  /* padding: 20px; */
}

.property-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  background-color: gainsboro;
}

.property-header {
  text-align: center;
  margin-bottom: 20px;
}

.property-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.property-info {
  margin: 20px 0;
}

.property-info p {
  margin: 8px 0;
  font-size: 16px;
}

.property-photos {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.property-photos img {
  width: 32%;
  border-radius: 10px;
  object-fit: cover;
}

.map-container iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 10px;
}
